html, body{
  background-color: #eaeaea;
  min-width: 600px;
  min-height:600px;
}

ul{
  list-style-position:inside;
  list-style:none;
  padding-left:0;
}

.listcontent{
  text-align: center;
}

hr {
  border: 1px solid grey;
}

h4 {
  text-align: center;
}

.imageContainer {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
  -moz-column-gap: 40px; /* Firefox */
  column-gap: 40px;
}

#imageLink{
  word-wrap: break-word;
}
