html, body{
  background-color: #eaeaea;
  min-width: 600px;
  min-height:600px;
}

ul{
  list-style-position:inside;
  list-style:none;
  padding-left:0;
}

.listcontent{
  text-align: center;
}

hr {
  border: 1px solid grey;
}

h4 {
  text-align: center;
}

.imageContainer {
    float: left;
    padding-left: 20px;
    text-align: center;
}

#imageLink{
  word-wrap: break-word;
}
