html, body{
  background-color: #eaeaea;
  min-width: 600px;
  min-height:600px;
}

ul{
  list-style-position:inside;
  list-style:none;
  padding-left:0;
}

.listcontent{
  margin-left:15px;
}

hr {
  border: 1px solid grey;
}

h4 {
  text-align: center;
}

.buttonDiv{
  visibility: hidden;
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: center;
}
